/** hightlight css */

article.highlight {
    width: 60%;
    max-width: 300px;
    min-width: 200px;
    height: 350px;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px 0px;
    padding-top: 0px;
    border-radius: 18px;
    background-color: #EDEFEE;

    display: grid;
    grid-template-rows: minmax(auto, 150px) minmax(auto, 50px) auto minmax(auto, 50px);
    grid-template-areas:    'highlightImage'
                            'highlightHeader'
                            'highlightDescription'
                            'highlightFooter';
}

article.highlight > * {
    padding: 0px 20px;
}

article.highlight > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0px;
    border-radius: 18px;
    grid-area: highlightImage;
}
article.highlight > h3.highlightHeader {
    grid-area: highlightHeader;
    font-weight: bolder;
}

article.highlight > p {
    margin: 0px;
    grid-area: highlightDescription;
}

article.highlight > h3.highlightFooter {
    grid-area: highlightFooter;
    display: flex;
    justify-content: space-between;
}

article.highlight > h3.highlightFooter > img.highlightActionButton {
    height: 25px;
}