/**
    Reservations css
*/

section.reservations {
    height: 50vh;
    min-height: 400px;
    padding: 0px;

    display: grid;
    grid-template-rows: minmax(150px, 100%);
    grid-template-columns: 100%;
    grid-template-areas:    "res_form";
}
section.reservations > img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    grid-area: res_img;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: none;

}

form.resForm {
    background-color: #495E57;
    padding: 20px 80px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
form.resForm > * {
    margin-bottom: 5px;
}

form.resForm > h3 {
    text-align: center;
    color: #F4CE14;
    font-size: 24px;
}

form.resForm > input {
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
}

form.resForm > select {
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
}

input.resFromBtn {
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: #F4CE14;
    width: 200px;
    margin: 0px auto;
    margin-top: 20px;
}

/* IPAD view */
@media screen and (min-width: 600px) {
    
    section.reservations {
        width : 70%;
        margin: auto;
        display: grid;
        grid-template-rows: minmax(150px, 100%);
        grid-template-columns: 40%;
        grid-template-areas:    "res_img res_form";
    }
    section.reservations > img {
        display: block;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        grid-area: res_img;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    form.resForm {
        background-color: #495E57;
        padding: 20px 80px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        color: white;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* Other screens view */
@media screen and (min-width: 1080px) {
    section.reservations {
        padding: 0px;
    }
}
