@font-face {
  font-family: 'inter';
  src: url('./fonts/Inter/Inter-Regular.ttf');
}
html {
  width: 100vw;
  min-width: 100vw;

  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}