@font-face {
  font-family: 'inter';
  src: url('./fonts/Inter/Inter-Regular.ttf');
}
html {
  width: 100vw;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}